<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.islamicmerriageusa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslamicMerriageUSA">
        <activity android:name=".PrivacyActivity"></activity>
        <activity android:name=".FilterActivity">

        </activity>
        <activity android:name=".SearchCommunityActivity">

        </activity>
        <activity android:name=".FullBiodataActivity" />
        <activity android:name=".SearchBiodataActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookingCommunityActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".BiodataActivity"
            >

        </activity>
        <activity android:name=".ChoosePlanActivity" />
        <activity android:name=".SingleProductActivity" />
        <activity android:name=".CardActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MessageActivity">

        </activity>
        <activity android:name=".NewCardActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AddCardActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".SummeryActivity" />
        <activity android:name=".PremiumPlanActivity" />
        <activity android:name=".FreePlanActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".OnBoardActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".RessetPassActivity" />
        <activity android:name=".ForgetPassActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".ChengePassActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>